* {
    margin: 5;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
    text-align: center;
    background: url('../assets/background/footbridge.jpg') center center fixed;
    background-size: cover;
}

h1{
    font-family: "Sedan SC", serif;
}

main{
    margin: 5rem auto;
    border: 5px ridge yellow;
    background-color: rgba(20, 200, 200, .9);
    width: 25vw;
    padding: 2rem 3rem;
    border-radius: 1rem;
}

form{
    border: 5px ridge yellow;
    background-color: rgba(20, 200, 200, .9);
    margin: 2rem auto;
    width: 35vw;
    padding: 2rem 3rem;
    border-radius: 1rem;
}

label{
    font-weight: bold;
    text-shadow: white .5px 0px;
}

button{
    margin-top: 1rem;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    box-shadow: lightgray 0px 9px;
}
button:hover{
    transform:  translate(0px, 3px);
    box-shadow: gray 0px 6px;
}
button:active{
    transform:  translate(0px, 6px);
    box-shadow: black 0px 3px;
}

#navbar{
    margin: auto;
    display: flex;
    border-radius: 10%;
    width: 25vw;
    justify-content: space-evenly;
    background-color: wheat;
    > a{
        font-size: 30px;
        color: black;
        padding: 3px;
        margin: auto 2px;
        text-decoration: none
    }
    > a:hover{
        background-color: rgba(10, 10, 10, .3);
    }

}