* {
    margin: 5;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: lightblue;
    text-align: center;
}

main{
    background-color: rgba(200, 200, 200, .7);width: 75vw;
    margin: auto;
    width: 35vw;
    padding: 2rem 3rem;
    border-radius: 1rem;
}

#navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: wheat;
    > a{
        font-size: 30px;
        color: black;
        padding: 3px;
        margin: auto 2px;
        text-decoration: none
    }
    > a:hover{
        background-color: rgba(10, 10, 10, .3);
    }

}