<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/style/users.css" rel="stylesheet">
  <title>Add a IteM</title>
</head>
  <body>
    <%- include('../partials/navbar') %>
    <h1>Create an account</h1>

    <form action="/users/<%= user._id %>/account" method="POST">

    <label for="user-name">First name: </label>
    <input type="text" name="name" id="user-name">

    <label for="user-name">Last name: </label>
    <input type="text" name="name" id="user-name"><br>

    <label for="user-age">Age: </label>
    <input type="text" name="age" id="user-age"><br>

    <label for="user-gender">gender: </label>
    <input type="text" name="gender" id="user-gender"><br>

    <label for="user-info">Info: </label>
    <textarea  name="info" id="user-info" rows="4" cols="30"></textarea><br>

    <button type="submit">create account</button>
  </form>
  
  </body>
</html>